.profile-about{
  margin-top: 30px;
  width: 100%;
}
.profile-about-title{
  font-size: 1.5em;
  text-transform: uppercase;
}
.profile-about__content{
  padding:0 10px;
  margin-top: 10px;
}
.profile-about__subtitle{
  font-size: 1.2em;
  margin-top: 10px;
}
.profile-about__list{
  padding: 0 15px 0 10px;
  margin-top: 5px;
}
.profile-about__item{
  display: block;
}